<!DOCTYPE html>
<html>
<head>
    <title>Сброс пароля</title>
</head>
<body>
    <h2>Сброс пароля</h2>
    <form id="resetForm">
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        <label>Новый пароль:</label>
        <input type="password" name="new_password" required><br>
        <button type="submit">Сменить пароль</button>
    </form>

    <p id="message" style="color: green; display: none;"></p>

    <script>
        document.getElementById('resetForm').addEventListener('submit', function(event) {
            event.preventDefault(); // предотвращаем переход по ссылке

            const form = event.target;
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            fetch(`/api/password/reset/confirm/${data.uidb64}/${data.token}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ new_password: data.new_password, uidb64: data.uidb64, token: data.token})
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById('message').textContent = 'Пароль успешно изменен, можете покинуть страницу';
                    document.getElementById('message').style.display = 'block';
                    form.reset();
                } else {
                    return response.json().then(err => {
                        throw new Error(err.detail || 'Ошибка при сбросе пароля');
                    });
                }
            })
            .catch(error => {
                document.getElementById('message').textContent = error.message;
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').style.display = 'block';
            });
        });
    </script>
</body>
</html>
